node_modules
.eslintrc.js
.travis.yml
logs/
run/
dist/
coverage/
assembly/
.idea/
.vscode/
.DS_Store
.nyc_output/

.github/

app/net/
log/

lib/tshelper/*.js
lib/tshelper/*.d.ts

typings/app/
typings/config/

*.swp
test-results.xml

test/fixtures/typings/config/

package-lock.json
